@model string


<div class="card">
  <h5 class="card-header">Your Current Plan</h5>
  <div class="card-body">
    <h5 class="card-title">@Model</h5>
    <p class="card-text">Next Payment: May 31, 2019</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>